.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(80%, 25rem);
  margin: 3rem auto;
}

.cell {
  border: 0.125rem solid black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

.cell:hover {
  background-color: #f0f0f0;
}
